# Auto detect text files and perform LF normalization
* text=auto
data/NH_Coos.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Contra_Costa.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Los_Angeles.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Riverside.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_San_Bernardino.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Aroostook.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Lincoln.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_San_Francisco.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Androscoggin.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Hancock.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Cheshire.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Somerset.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_York.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Belknap.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Sullivan.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Washington.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Orange.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_San_Diego.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Franklin.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Knox.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Oxford.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Penobscot.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Alameda.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_San_Mateo.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Cumberland.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Merrimack.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Piscataquis.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Grafton.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Waldo.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Hillsborough.csv.gz filter=lfs diff=lfs merge=lfs -text
data/TN_Hamilton.csv.gz filter=lfs diff=lfs merge=lfs -text
data/CA_Santa_Clara.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Kennebec.csv.gz filter=lfs diff=lfs merge=lfs -text
data/ME_Sagadahoc.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Carroll.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Rockingham.csv.gz filter=lfs diff=lfs merge=lfs -text
data/NH_Strafford.csv.gz filter=lfs diff=lfs merge=lfs -text
